<nav>
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/cantantes']">Lista de Cantantes</a>
    <a [routerLink]="['/canciones']">Lista de Canciones</a>
    <a [routerLink]="['/agregarCanciones']">Subir Canción</a>
</nav>

<div class="container mt-5">
    <h1 class="text-center">Lista de cantantes</h1>
    <div class="row mt-4">
        <div id="cantantes" class="col-12">
            <h2>Cantantes</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cantantes</th>
                        <th>Géneros</th>
                        <th>Nº Canciones</th>
                    </tr>
                </thead>
                <tbody id="tabla-cantantes">
                    <tr *ngFor="let cantantes of cantantesList">
                        <td>{{ cantantes.nombre }}</td>
                        <td>{{ cantantes.generos.join(", ") }}</td>
                        <td>{{ cantantes.canciones.length }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>